.picture {
  @extend .image;
  height: auto;
}
.women {
  position: absolute;
  z-index: 1;
  height: auto;
  width: 100%;
  bottom: 0;
}
.women-backdrop {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-testimony {
  overflow: hidden;
  display: flex;
  height: max-content;
  justify-content: space-between;
  background: $hero-testimony-bg;
}

.hero-testimony-orange{
flex-direction: row-reverse;
}

.vendor{
 @extend .orange-vendor-tag;
 margin-bottom: 20px;
 border: 1px solid $status-text-orange;
}
.orange-vendor{
  background-color: $status-border-orange;
  
}


.customer-tag {
   @extend .grey-customer-tag;
  }


.testimony {
  color: $white;
  width: 430px;
  height: max-content;
  .testifier {
    font-size: $heading-32px;
    margin-bottom: 8px;
    margin-top: 136px;
  }
  .testimony-body {
    line-height: 27px;
    font-size: $body-18px;
    margin-bottom: 28px;
  }
  
  .shareStory {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    color: $white;
    text-transform: uppercase;
    font-size: $body-16px;
    line-height: 32px;
  }
  .orange{
    color: $status-text-orange
  }
}


.orange-testimony{
    color: $black;
  }

@media (min-width: $min-mobile) and (max-width: $max-mobile) {
  .hero-testimony {
    flex-direction: column-reverse;
    padding: 0;
  }

  .picture {
    transform: scale(1.1);
    margin-top: 83px;
  }

  .testimony {
    padding: 0 62px;
    .testifier {
      margin-top: 104px;
      margin-bottom: 14px;
      font-size: $heading-24px;
    }
    .testimony-body {
      font-size: $body-16px;
    }
  }
  .hero-testimony-orange{
flex-direction: column;
}
}
