.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 527px;
  background-color: $transparent-white;
  padding: 57px 32px;
  border-radius: 16px;
  transition: .5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.title {
  font-size: $heading-28px;
}

.file-input {
  display: none;
}

.input-label {
  font-size: $body-14px;
  color: $modal-text;
}

.input-field {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 19px;
  font-size: $body-18px;
  margin-bottom: 24px;
  margin-top: 13px;

  .name-field {
    color: $modal-text;
    font-size: $body-16px;
  }

  p,
  svg {
    display: flex;
    align-items: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.names {
  display: flex;
  justify-content: space-between;

  .name {
    .name-field {
      @extend .input-field;
      width: 100%;
    }

    &:first-child {
      margin-right: 21px;
    }
  }
}

.testimony {
  width: 100%;

  .story {
    @extend .input-field;
  }
}

.status {
  display: flex;
  justify-content: space-between;

  .status-option {
    margin-left: 10px;
  }
}

.location {
  margin-top: 30px;
}

.submit-btn {
  display: flex;
  justify-content: end;

  .btn {
    font-size: $body-20px;
  }
}

.shared {
  text-align: center;
}

.shared-image{
  margin-bottom: 20px;
}

.shared-heading {
  font-size: $heading-28px;
  margin: 0 auto;
  width: 250px;
}

.shared-body {
  font-size: $body-16px;
  width: 356px;
  margin: 20px 0 40px 0;
}

.shared-btn {
  font-size: $body-20px;
  padding: 19px 98px!important; 
border-radius: 8px;
box-shadow: 2px 8px 30px rgba(230, 83, 0, 0.18);
}