.container {
  max-width: 300px;
  border: 1px solid red;

  .photo {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-bottom: 32px;
  }

  .testifier {
    font-weight: 600;
    font-size: $heading-24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin-bottom: 14px;
  }

  .status-location {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .location {
      font-size: $body-15px;
      color: $location-text;
      margin-right: 16px;
    }

    
  }

  .testimony {
    size: $body-16px;
    line-height: 24px;
    color: $body-text;
    max-width: 100%;
  }
}

.green{
  @extend .green-vendor-tag;
}
.orange{
@extend .orange-vendor-tag
}
.blue{
@extend .blue-customer-tag;
}
.gray{
@extend .grey-customer-tag;
}